body {
    margin: 0px auto;
		// font-family: 'Roboto', sans-serif;
		font-family: 'Noto Sans HK', sans-serif;
		color: #444;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
	line-height: normal;
}

.no-padding {
    padding: 0px;
    margin: 0px;
}

.inline-block {
    display: inline-block;
}

.header-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.menu-items {
		ul {
			    display: flex;
					list-style: none;
					padding: 0px;
					margin: 0px;
					justify-content: flex-end;
					width: 100%;
					color: #666;
			&:hover {
				color: #aaa;
			}
			li{
			    flex: 1;
					cursor: pointer;
					transition: color 170ms;
					padding: 0 20px;
					margin: 0 6px 0 0;
				&:hover {
					color: #444;
				}
			}
		}
	}
}

.intro-wrapper {
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	div {
		text-align: center;
		p {
			color: #999;
			font-size: 20px;
			font-family: 'adobe-garamond-pro';
		}
		h1 {
			font-size: 42px;
			font-weight: bold;
		}
		button {
			border-radius: 0px;
			border: 2px solid #444;
		}
	}
}

.dev-wrapper {
	padding: 100px 100px;
	text-align: center;
	background-color: #fbfbfb;
	h1 {
		font-size: 42px;
		font-weight: 400;
		margin-bottom: 15px;
		font-family: 'adobe-garamond-pro';
	}
	h2 {
		font-size: 30px;
		font-weight: 200;
	}
}

.services-wrapper {
	padding: 100px 10%;
	text-align: center;
	.row {
		border: 1px dotted black;
	}
	h2 {
		font-family: 'adobe-garamond-pro';
	}
}